<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Votación</title>
</head>
<body>
    <h1>Bienvenido al Sistema de Votación</h1>

    <h1>Temas Disponibles</h1>
    <ul>
        <% topics.forEach(topic => { %>
            <li><%= topic.title %> - Votos: <%= topic.vote || 0 %>
                <form action="/topics/vote/<%= topic.id %>" method="post">
                    <button type="submit">Votar</button>
                </form>

                <form action="/topics/<%= topic.id %>/update?_method=PATCH" method="POST" style="display: inline;">
                    <input type="text" name="topic" placeholder="New topic name" required>
                    <button type="submit">Update</button>
                </form>
                
                <form action="/topics/<%= topic.id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>

            </li>
        <% }); %>
    </ul>
    

    <h2>Crear un Nuevo Tema</h2>
    <form action="/topics" method="POST">
        <input type="text" name="topic" placeholder="Name of the topic" required>
        <button type="submit">Crear tema</button>
    </form>



</body>
</html>